@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Peddana|Niconne);
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  background: #eee;
  color: black;
  font-family: "Roboto"; }

.container {
  width: 100%;
  height: auto; }

.header {
  padding: 12px 24px;
  font-size: .6em;
  color: white;
  display: inline-block;
  width: calc(100% - 48px);
  background-color: #2980B9;
  font-family: "Bitter"; }
  @media only screen and (max-width: 490px) {
    .header {
      padding: 0 12px;
      width: calc(100% - 24px); } }
  .header h1 {
    color: white;
    font-size: 16px;
    display: inline-flex;
    float: left; }
  .header .nav {
    display: inline;
    line-height: 16px;
    width: 100%; }
    .header .nav ul {
      list-style: none;
      font-size: 16px; }
      .header .nav ul.ul_right {
        float: right; }
        .header .nav ul.ul_right li {
          margin-left: 0; }
      .header .nav ul.ul_left {
        float: left; }
        .header .nav ul.ul_left li {
          margin-left: 1em; }
      .header .nav ul li {
        float: left;
        position: relative;
        padding: 6px 0;
        font-weight: 600;
        color: white; }
        .header .nav ul li a {
          color: white !important;
          text-decoration: none !important;
          transition: .2s all ease .05s; }
          .header .nav ul li a:hover {
            color: rgba(255, 255, 255, 0.5) !important; }
          .header .nav ul li a:visited, .header .nav ul li a:focused, .header .nav ul li a:active {
            color: white !important;
            text-decoration: none !important; }

.body {
  padding: 24px; }
  @media only screen and (max-width: 490px) {
    .body {
      padding: 0px; } }
  .body h1 {
    font-weight: 200;
    font-size: 2.5em;
    margin: 12px;
    font-family: 'Niconne';
    background-color: #333;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .body h2 {
    font-weight: 600;
    font-size: 1em;
    margin: 6px 12px;
    color: #666; }

.card_holder {
  width: 100%;
  display: inline;
  margin: 0 auto; }
  .card_holder a {
    text-decoration: none;
    overflow: hidden; }
  .card_holder .card {
    vertical-align: text-top;
    width: calc((100% / 4) - 24px);
    min-width: 200px;
    max-width: 400px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
    border-radius: .6em;
    overflow: hidden;
    background-color: rgba(41, 128, 185, 0.4);
    display: inline-flex;
    margin: 12px 0 6px 12px;
    transition: .2s all ease .05s; }
    @media only screen and (max-width: 1024px) {
      .card_holder .card {
        width: calc((100% / 3) - 24px); } }
    @media only screen and (max-width: 720px) {
      .card_holder .card {
        width: calc((100% / 2) - 24px); } }
    @media only screen and (max-width: 490px) {
      .card_holder .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        width: calc(100% - 6px);
        border-radius: 2px;
        display: block;
        max-width: 400px;
        margin: 6px auto; } }
    .card_holder .card.blue {
      background-color: #2980b9; }
      .card_holder .card.blue:hover {
        background-color: rgba(41, 128, 185, 0.7); }
      .card_holder .card.blue:active {
        background-color: rgba(41, 128, 185, 0.8); }
    .card_holder .card.green {
      background-color: #27ae60; }
      .card_holder .card.green:hover {
        background-color: rgba(39, 174, 96, 0.7); }
      .card_holder .card.green:active {
        background-color: rgba(39, 174, 96, 0.8); }
    .card_holder .card.yellow {
      background-color: #f1c40f; }
      .card_holder .card.yellow:hover {
        background-color: rgba(241, 196, 15, 0.7); }
      .card_holder .card.yellow:active {
        background-color: rgba(241, 196, 15, 0.8); }
    .card_holder .card.red {
      background-color: #e74c3c; }
      .card_holder .card.red:hover {
        background-color: rgba(231, 76, 60, 0.7); }
      .card_holder .card.red:active {
        background-color: rgba(231, 76, 60, 0.8); }
    .card_holder .card .card_desc {
      margin-top: 50%;
      width: 100%;
      padding: 12px;
      color: #212121;
      font-size: 15px;
      font-weight: normal;
      line-height: 22px;
      background-color: white; }
      @media only screen and (max-width: 490px) {
        .card_holder .card .card_desc {
          margin-top: 0;
          margin-left: 12px; } }
      .card_holder .card .card_desc .card_desc_short {
        font-size: 11px;
        line-height: 13px; }

::-moz-selection {
  background: rgba(39, 174, 96, 0.4);
  color: #333;
  text-shadow: none; }

::selection {
  background: rgba(39, 174, 96, 0.4);
  color: #333;
  text-shadow: none; }

.login {
  width: 100%;
  padding: auto;
  margin: auto;
  max-width: 350px;
  min-width: 150px;
  margin: 25vh auto; }
  .login h2 {
    font-weight: 200;
    font-size: 3em;
    margin: 12px auto;
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 12px;
    display: table;
    font-family: 'Niconne';
    background-color: #444;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .login table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
    border-collapse: separate; }
    .login table tr, .login table td {
      max-width: 100%;
      margin: 0;
      padding: 4px 0; }
  .login input:not([type="submit"]) {
    box-sizing: border-box;
    padding: 8px 0;
    text-indent: 8px;
    width: calc(100%);
    font-size: 15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px; }
    .login input:not([type="submit"]):focus {
      border: 1px solid #27ae60; }
  .login input[type="submit"] {
    box-sizing: border-box;
    padding: 8px;
    width: calc(100%);
    font-size: 15px;
    background-color: #27ae60;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    transition: all .2s ease; }
    .login input[type="submit"]:hover {
      background-color: rgba(39, 174, 96, 0.9);
      transition: all .2s ease; }

.footer {
  font-size: 13px;
  color: #888;
  text-align: center;
  margin-top: 25px; }

/*# sourceMappingURL=style.css.map */
