@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Peddana|Niconne);

$MAIN_COLOR: #2980B9;
$GREEN_COLOR: #27AE60;
$YELLOW_COLOR: #F1C40F;
$RED_COLOR: #E74C3C;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    color: black;
    font-family: "Roboto";
}

.container {
    width: 100%;
    height: auto;

}
.header {
    padding: 12px 24px;
    font-size: .6em;
    color: white;
    display: inline-block;
    width:calc(100% - 48px);
    background-color: $MAIN_COLOR;
    font-family: "Bitter";
    h1{
        display: inline;
        float:left;
    }
    .nav {
        display: inline;
        float: right;
        ul{
            list-style: none;
            display:block;

            li{
                margin-left: 4px;
                padding:6px 0;
                font-size: 16px;
                font-weight:600;
                color: white;

                a{
                    color:white !important;
                    text-decoration: none !important;
                    transition: .2s all ease .05s;

                    &:hover {
                        color: rgba(white, .5) !important;
                    }
                    &:visited, &:focused, &:active {
                        color: white !important;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}
.body {
    padding: 24px;

    @media only screen and (max-width: 490px) {
        padding: 0px;
    }
}
.card_holder {
    width: 100%;
    display: inline;
    margin:0 auto;

    a {
        text-decoration: none;
        overflow: hidden;
    }

    .card{
        vertical-align: text-top;
        width: calc((100% / 4) - 24px);
        min-width: 200px;
        max-width: 400px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
        border-radius: .6em;
        overflow: hidden;
        background-color: rgba(41, 128, 185, 0.4);
        display: inline-flex;
        margin: 12px 0 6px 12px;
        transition: .2s all ease .05s;

        @media only screen and (max-width: 1024px) {
            width: calc((100% / 3) - 24px);
        }
        @media only screen and (max-width: 720px) {
            width: calc((100% / 2) - 24px);
        }

        @media only screen and (max-width: 490px) {
            width:calc(100% - 12px);
            display:block;
            max-width: 400px;
            margin: 12px auto;
        }

        $static:0.4;
        $hover:0.7;
        $active:0.55;
        &.blue {
            background-color: rgba($MAIN_COLOR, $static);
            &:hover{
                background-color: rgba($MAIN_COLOR, $hover);
            }
            &:active{
                background-color: rgba($MAIN_COLOR, $active);
            }
        }
        &.green {
            background-color: rgba($GREEN_COLOR, $static);
            &:hover{
                background-color: rgba($GREEN_COLOR, $hover);
            }
            &:active{
                background-color: rgba($GREEN_COLOR, $active);
            }
        }
        &.yellow {
            background-color: rgba($YELLOW_COLOR, $static);
            &:hover{
                background-color: rgba($YELLOW_COLOR, $hover);
            }
            &:active{
                background-color: rgba($YELLOW_COLOR, $active);
            }
        }
        &.red {
            background-color: rgba($RED_COLOR, $static);
            &:hover{
                background-color: rgba($RED_COLOR, $hover);
            }
            &:active{
                background-color: rgba($RED_COLOR, $active);
            }
        }


        .card_desc {
            margin-top: 50%;
            width:100%;
            padding: 12px;
            color: #212121;
            font-size: 15px;
            font-weight: normal;
            line-height: 22px;
            background-color: white;

            .card_desc_title {

            }
            .card_desc_short {
                font-size: 11px;
                line-height:13px;
            }
        }
    }
}

::-moz-selection { background: rgba($GREEN_COLOR, .4);; color: #333; text-shadow: none; }
::selection { background: rgba($GREEN_COLOR, .4);; color: #333; text-shadow: none; }

.login{
    width: 100%;
    padding:0;
    margin: 0;
    max-width: 300px;
    min-width: 150px;
    margin: 15vh auto;

    h2 {
        font-weight: 200;
        font-size: 3.5em;
        margin: 12px 0;
        text-align:center;
        font-family: 'Niconne';
        background-color:#333;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,.3);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text;
    }
    table{
        width:100%;
        padding:0;
        margin:0;
        border-spacing: 0px;
        border-collapse: separate;

        tr, td{
            max-width:100%;
            margin:0;
            padding:4px 0;
        }
    }

    input:not([type="submit"]){
        box-sizing: border-box;
        padding: 8px 0;
        text-indent: 8px;
        width: calc(100%);
        font-size: 15px;
        background-color: white;
        border: 1px solid rgba(black, .3);
        border-radius: 2px;
    }
    input[type="submit"] {
        box-sizing: border-box;
        padding: 8px;
        width: calc(100%);
        font-size: 15px;
        background-color: rgba($GREEN_COLOR, .4);
        border: 1px solid rgba(black, .3);
        border-radius: 2px;
        transition: all .2s ease;

        &:hover {
            background-color: rgba($GREEN_COLOR, .5);
            transition: all .2s ease;
        }
    }
}
