@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Peddana|Niconne);

$MAIN_COLOR: #2980B9;
$GREEN_COLOR: #27AE60;
$YELLOW_COLOR: #F1C40F;
$RED_COLOR: #E74C3C;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    color: black;
    font-family: "Roboto";
}

.container {
    width: 100%;
    height: auto;

}
.header {
    padding: 12px 24px;
    font-size: .6em;
    color: white;
    display: inline-block;
    width:calc(100% - 48px);
    background-color: $MAIN_COLOR;
    font-family: "Bitter";

    @media only screen and (max-width: 490px) {
        padding: 0 12px;
        width:calc(100% - 24px);
    }

    h1{
        color:white;
        font-size: 16px;
        display: inline-flex;
        float:left;
    }
    .nav {
        display: inline;
        line-height:16px;
        width:100%;

        ul{
          list-style: none;
          font-size:16px;
          padding-left:0;

          &.ul_right{
            float:right;
            li{margin-left: 1em;}
          }
          &.ul_left{
            float:left;
            li{margin-left: 0;}
          }

            li{
                float:left;
                position:relative;
                padding:6px 0;
                font-weight:600;
                color: white;

                a{
                    color:white !important;
                    text-decoration: none !important;
                    transition: .2s all ease .05s;

                    &:hover {
                        color: rgba(white, .5) !important;
                    }
                    &:visited, &:focused, &:active {
                        color: white !important;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}
.body {
    padding: 24px;

    @media only screen and (max-width: 490px) {
        padding: 0px;
    }

    h1 {
        font-weight: 200;
        font-size: 2.5em;
        margin: 12px;
        font-family: 'Niconne';
        color:#333;
        border-bottom: 1px solid #bbb;
        padding-bottom: 12px;
        display:table;
    }

    h2 {
        font-weight: 600;
        font-size: 1em;
        margin: 6px 12px;
        color: #666;
    }
}
.card_holder {
    width: 100%;
    display: inline;
    margin:0 auto;

    $card-border-radius: 2px;

    .adminControl{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 6px;
        text-align:right;
        width:100%;

        a{
            text-decoration: none;
            overflow: hidden;
            width: 100%;

            &.button{
                border: 1px solid rgba(#000,.1);
                text-transform:uppercase;
                position: relative;
                padding: 2px 4px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
                font-size: 12px;
                font-weight: 500;
                border-radius: 2px;
                color: rgba(black, .87);
                background-color: rgba(white,.9);
                width: auto;
                opacity: 1;
                transition: all .2s ease;

                &:hover{
                    background-color: rgba(white, 1);
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
                }
            }
        }
    }

    a {
        text-decoration: none;
        overflow: hidden;
        width: 100%;
    }

    .card{
        vertical-align: text-top;
        width: calc((100% / 4) - 24px);
        min-width: 200px;
        max-width: 400px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
        border-radius: $card-border-radius;
        overflow: hidden;
        display: inline-flex;
        position: relative;
        margin: 12px 0 6px 12px;

        @media only screen and (max-width: 1024px) {
            width: calc((100% / 3) - 24px);
        }
        @media only screen and (max-width: 720px) {
            width: calc((100% / 2) - 24px);
        }

        @media only screen and (max-width: 490px) {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            width: calc(100% - 6px);
            display: block;
            max-width: 400px;
            margin: 6px auto;
        }


        $static:1;
        $hover:0.7;
        $active:0.8;

        &:hover{
            .card_desc_image {opacity: $hover;}
            a.button{opacity: 1;}
        }
        &:active{.card_desc_image {opacity: $active;}}

        .card_desc_image {
            width:100%;
            height: 100%;
            position: absolute;
            left:0;
            top: 0;
            z-index: -1;
            opacity: $static;
            transition: .2s opacity ease .05s;
            border-radius: $card-border-radius;
        }

        .card_desc {
            margin-top: 50%;
            width:calc(100% - 24px);
            padding: 12px;
            color:rgba(black, .87);
            font-size: 15px;
            font-weight: normal;
            line-height: 22px;
            background-color: white;

            @media only screen and (max-width: 490px) {
                margin-top: 0;
                margin-left: 12px;
            }
            .card_desc_title{
                font-weight: 600;
            }
            .card_desc_short {
                margin-top: 8px;
                letter-spacing: .1px;
                font-size: 12px;
                line-height:16px;
            }
        }
    }
}

::-moz-selection { background: rgba($GREEN_COLOR, .4);; color: #333; text-shadow: none; }
::selection { background: rgba($GREEN_COLOR, .4);; color: #333; text-shadow: none; }

.login{
    width: 100%;
    padding: auto;
    margin: auto;
    max-width: 350px;
    min-width: 150px;
    margin: 25vh auto;

    h2 {
        font-weight: 200;
        font-size: 3em;
        margin: 12px auto;
        text-align: center;
        border-bottom: 1px solid #bbb;
        padding-bottom: 12px;
        display:table;
        font-family: 'Niconne';
        color: #333;
    }
    table{
        width:100%;
        padding:0;
        margin:0;
        border-spacing: 0px;
        border-collapse: separate;

        tr, td{
            max-width:100%;
            margin:0;
            padding:4px 0;
        }
    }

    input:not([type="submit"]){
        box-sizing: border-box;
        padding: 8px 0;
        text-indent: 8px;
        width: calc(100%);
        font-size: 15px;
        background-color: white;
        border: 1px solid rgba(black, .3);
        border-radius: 2px;

        &:focus{
            border: 1px solid rgba($GREEN_COLOR, 1);
        }

    }

    input[type="submit"] {
        box-sizing: border-box;
        padding: 8px;
        width: calc(100%);
        font-size: 15px;
        background-color: rgba($GREEN_COLOR, 1);
        color:white;
        border: 1px solid rgba(black, .15);
        border-radius: 2px;
        transition: all .2s ease;

        &:hover {
            background-color: rgba($GREEN_COLOR, .9);
            transition: all .2s ease;
        }
    }
}

.user_table{
    width: 100%;
    font-size: 15px;

    tr:nth-of-type(2){background-color:rgba(black, .05);}
    td:first-of-type{width:100%;}
    td{
        padding: 4px 8px;
    }
    .user_table_button{
        text-align: right;
        background-color: rgba($MAIN_COLOR, .05);

        .button{
            text-decoration: none;
            color: rgba(black, .87);
            text-transform: uppercase;
            font-size: .8em;
        }
    }
}

.detail_pane{
    width: calc(100% - 48px);
    max-width: 650px;
    min-width: 50px;
    padding: 12px;
    float: left;
    border:1px solid #ccc;
    border-radius:2px;
    margin: 1em 12px 0;
    background-color: #ddd;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);

    .pane_title{
        font-family: 'Bitter';
        line-height: 30px;
        font-weight:bold;
    }
    .error{

    }
    form{

        input:not([type="submit"]), textarea{
            box-sizing: border-box;
            resize: none;
            margin:0;
            padding: 8px;
            width: calc(100%);
            font-size: 15px;
            font-family: 'Roboto';
            background-color: white;
            border: 1px solid rgba(black, .3);
            border-radius: 2px;

            &:focus{
                border: 1px solid rgba($GREEN_COLOR, 1);
            }

        }
        textarea {
            height:100px;
        }
        input[type="submit"] {
            box-sizing: border-box;
            padding: 8px;
            font-size: 15px;
            background-color: rgba($GREEN_COLOR, 1);
            color:white;
            border: 1px solid rgba(black, .15);
            border-radius: 2px;
            transition: all .2s ease;

            &:hover {
                background-color: rgba($GREEN_COLOR, .9);
                transition: all .2s ease;
            }
        }

        p {
            line-height: 40px;
            font-size: 13px;
            margin:0;
            float:left;
        }

        input[type="color"] {
            width: 60px;
            height: 40px;
            line-height: 30px;
            padding:0;
            margin-left: 4px;
            float:left;
            box-sizing: border-box;
            background-color: transparent;
            border: none;

            &:focus{
                border: none;
            }
        }

        table{
            width:100%;
            padding:0;
            margin:0;
            border-spacing: 0px;
            border-collapse: separate;

            tr, td{
                max-width:100%;
                margin:0;
                padding:4px 0;
            }

        }
    }

    ul{
        list-style: none;
        overflow-y: auto;
        margin: 4px;
        padding-left: 12px;
        max-height: 100px;

        li{
            font-size: 13px;
        }
    }
}

.flex-container{
    margin: 10px auto;
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-item{
    margin:5px;
}

.flex-container.space-around{
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
.flex-container.flex-start{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.flex-container.wrap{
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.footer {
    width: 100%;
    float: left;
    font-size: 13px;
    line-height: 150px;
    color: #888;
    text-align: center;
    margin-top: 25px; }
