@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Peddana|Niconne);

$MAIN_COLOR: #298DB9;
$GREEN_COLOR: #27AE60;
$YELLOW_COLOR: #F1C40F;
$RED_COLOR: #E74C3C;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    color: black;
    font-family: "Roboto";
}

.container {
    width: 100%;
    height: auto;

}
.header {
    padding: 12px 24px;
    font-size: .6em;
    color: white;
    display: inline-block;
    width:calc(100% - 48px);
    background-color: $MAIN_COLOR;
    font-family: "Bitter";
    h1{display: inline-block;}
    .nav {
        display: inline-block;
        float: right;
        ul{
            list-style: none;

            li{
                padding: 8px 0;
                margin-left: 4px;
                font-size: 12px;
                color: white;

                a, a:visited, a:hover, a:focused, a:active{color: white; text-decoration: none;}
            }
        }
    }
}
.body {
    padding: 24px;

    @media only screen and (max-width: 490px) {
        padding: 0px;
    }
}
.card_holder {
    width: 100%;
    display: inline;
    margin:0 auto;

    a {
        text-decoration: none;
        overflow: hidden;
    }

    .card{
        vertical-align: text-top;
        width: 25%;
        min-width: 200px;
        max-width: 400px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        border-radius: 2px;
        background-color: rgba($MAIN_COLOR, .4);
        display: inline-block;
        margin: 12px 0 6px 12px;

        @media only screen and (max-width: 490px) {
            min-width: calc(100% - 24px);
            margin: 12px;
        }

        &.blue {
            background-color: rgba($MAIN_COLOR, .4);
            &:active{
                background-color: rgba($MAIN_COLOR,.5);
            }
        }
        &.green {
            background-color: rgba($GREEN_COLOR, .4);
            &:active{
                background-color: rgba($GREEN_COLOR,.5);
            }
        }
        &.yellow {
            background-color: rgba($YELLOW_COLOR, .4);
            &:active{
                background-color: rgba($YELLOW_COLOR,.5);
            }
        }
        &.red {
            background-color: rgba($RED_COLOR, .4);
            &:active{
                background-color: rgba($RED_COLOR,.5);
            }
        }


        .card_desc {
            margin-top: 50%;
            padding: 12px;
            color: #212121;
            font-size: 15px;
            font-weight: normal;
            line-height: 22px;
            background-color: white;

            .card_desc_title {

            }
            .card_desc_short {
                font-size: 11px;
                line-height:13px;
            }
        }
    }
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

.login{
    width: 100%;
    padding:0;
    margin: 0;
    max-width: 300px;
    min-width: 150px;
    margin: 15vh auto;

    h2 {
        font-weight: 600;
        font-size: 5em;
        padding-left:4px;
        text-align:center;
        font-family: 'Niconne';
        background-color:#333;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,.3);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text;
    }
    table{
        width:100%;
        padding:0;
        margin:0;

        tr, td{
            max-width:100%;
            margin:0;
            padding:4px 0;
        }
    }

    input:not([type="submit"]){
        padding: 8px 0;
        text-indent: 8px;
        width: 100%;
        font-size: 15px;
        background-color: white;
        border: 1px solid rgba(black, .3);
        border-radius: 2px;
    }
    input[type="submit"] {
        padding: 8px;
        width: 100%;
        font-size: 15px;
        background-color: rgba($GREEN_COLOR, .4);
        border: 1px solid rgba(black, .3);
        border-radius: 2px;

    }
}
