{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
{% if g.user.username == "admin" %}
<div class="form_box">
    <div class="form_title">
        Edit App
    </div>
    <div class="error">
        {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
    </div>
    {% for app in app %}
    <form method="post" action="{{ url_for('admin_edit_app') }}">
        <input type="hidden" name="appid" value="{{ app.appId }}">
        <table>
            <tr><td><input type="text" placeholder="App Name" name="appname" value="{{ app.name }}"></td></tr>
            <tr><td><textarea placeholder="Description" name="description">{{ app.description }}</textarea></td></tr>
            <tr><td><input type="text" placeholder="Url" name="appurl" value="{{ app.url }}"></td></tr>
            <tr><td>Background-color:<input type="color" placeholder="Color" name="appcolor" value="{{ app.color }}"></td></tr>
            <tr><td><input type="submit" value="Submit Change"></td></tr>
        </table>
    </form>
    {% endfor %}
</div>
{% else %}
<p>Um, you're not supposed to be here...</p>
{% endif %}
{% endblock %}
