{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="card_holder">
        <h1>Raspberry Pi</h1>
        {% for app in appList %}
            <div class="card">
                {% if g.user.username == "admin" %}
                <div class="adminControl">
                    <a class="button" href="{{ url_for('editApp', appid = app.appId) }}">edit</a>
                    <a class="button" href="{{ url_for('deleteApp', appid = app.appId) }}">delete</a>
                </div>
                {% endif %}
                <div class="card_desc_image" style="background-color:{{app.color}};"></div>
                <a href="{{app.url}}">
                    <div class="card_desc">
                        <div class="card_desc_title">{{app.name}}</div>
                        <div class="card_desc_short">{{app.description}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if g.user.username == "admin" %}
        <div class="form_box">
            <div class="form_title">
                Add App
            </div>
            <div class="error">
                {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
            </div>
            <form method="post" action="{{ url_for('admin_add_app') }}">
                <table>
                    <tr><td><input type="text" placeholder="App Name" name="appname"></td></tr>
                    <tr><td><textarea placeholder="Description" name="description"></textarea></td></tr>
                    <tr><td><input type="text" placeholder="Url" value="/app/" name="appurl"></td></tr>
                    <tr><td><p>Background-color:<input type="color" placeholder="Color" name="appcolor" value="#555555"></p></td></tr>
                    <tr><td><input type="submit" value="Add"></td></tr>
                </table>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
